#main {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

#schedule {
    padding-left: 20px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 1300px;
}

.matchday {
    padding: 20px;
}

#champion {
    background-color: gold;
}

.relegationUp {
    background-color: green;
}

.relegationDown2 {
    background-color: orange
}

.relegationDown {
    background-color: red;
}